
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* { box-sizing: border-box; }

body {
    font-family: sans-serif;

}

html, body {
    height: 100vh;
    background-color: #f0f3f6;
}

header  {
    height: 10vh;
}

header h1 {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

header h1:first-child {
    margin-left: 3vw;
    color: #adbac3;
}

header h1:last-child {
    color: #21b8c6;
}


/* ---- grid ---- */

.grid {
    position: absolute;
    height: 80vh;
    padding: 0 3vw;
}


/* ---- .element-item ---- */

.grid-item {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -5px -4px 19px -8px rgba(0,0,0,0.69);
    -moz-box-shadow: -5px -4px 19px -8px rgba(0,0,0,0.69);
    box-shadow: -5px -4px 19px -8px rgba(0,0,0,0.69);
}

.grid-item img {
    display: block;
    position: relative;
    float: left;
    border-radius: 3px;
    max-height: 38vh;
}

.block-info {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #f5f6f4;
}

.hidden {
    display: none;
    visibility: hidden;
}
