<div id="slide" class="hidden">
        <div class="block-image">
            <img src="">
            <div class="thumbs-up">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <h5 class="badge"></h5>
            </div>
            <div class="thumbs-down">
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                <h5 class="badge"></h5>
            </div>
        </div>
        <h2>Comments: </h2>
        <div class="block-comments">
            <section class="block-comments">
                <article class="block-comment">
                    <h6 class="comment-author"></h6>
                    <h6 class="comment-date"></h6>
                    <p class="comment-body"></p>
                </article>
            </section>
            <section class="block-write-comment">
                <form action="#">
                    <input type="text" placeholder="Type your nickname here...">
                    <input type="text" placeholder="Write your comment here...">
                    <button type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                </form>
            </section>
        </div>
</div>

<div class="block-info">

</div>